[Unit]
Description=AppRun DropIn Service
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/aisp/homes/root
ExecStart=/usr/local/sbin/apprun.sh /opt/aisp/sys/services/com.acadia.aisp.services.apprundropin.apprun

[Install]
WantedBy=multi-user.target
